
.bg {
    /* The image used */
    background-image: url("../../assets/images/bg-masthead.jpg");
  
    /* Full height */
    height: 650px; 
    padding: 260px;
    color: rgb(180, 191, 201);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 